<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKMK6OPSLryshkD232n155XhAsnnBxHHc</string>
	<key>GCM_SENDER_ID</key>
	<string>899915765545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pilltodo</string>
	<key>PROJECT_ID</key>
	<string>pilltodo-1c098</string>
	<key>STORAGE_BUCKET</key>
	<string>pilltodo-1c098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899915765545:ios:c470b7228a861f4b09c938</string>
</dict>
</plist>